*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.header{
  background-image: url("../src/store/assets/home/desktop/image-hero.jpg")
  ;
}
.speak-bg{
  background-image: url("../src/store/assets/home/desktop/image-speaker-zx7.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (max-width:1000px) {
  .header{
    background-image: url("../src/store/assets/home/mobile/image-header.jpg");
    background-position: center;
}}